.button,#btn1{
    background-color:#b30909;
    /* background-image: url("https://img.freepik.com/premium-photo/abstract-polygonal-red-background_78895-1558.jpg?w=900");
   background-size: cover; */
    color:white;
}
.div2{
    background-color:#b30909;
    /* background-image: url("https://img.freepik.com/premium-photo/abstract-polygonal-red-background_78895-1558.jpg?w=900");
   background-size: cover; */
}